.todoListContainer {
  padding: 20px;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.addTask {
  display: flex;
  margin-bottom: 20px;
}

.inputTask {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.addButton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.addButton:hover {
  background-color: #0056b3;
}

.taskTable {
  max-height: 510px;
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  word-wrap: break-word;
  overflow-wrap: break-word; 
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.completedTask {
  text-decoration: line-through;
  color: #888888;
}

.deleteButton {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #dc3545;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: #c82333;
}
